@import "./variables";
@import "./mixins";

footer {
    /* change to mixin */
    position: absolute;
    bottom: 0;
    margin: 0 $size-wrap $size-wrap $size-wrap;
    p {
        @include text($color-text, 11px, 400);
        margin: 0;
    }&:before {
        @include tinyHr();
    }
    a {
        @include link($color-text);
    }
    span{
        color: $color-highlight;
    }
}