/* font */ 
$font-stack: 'Poppins', sans-serif;

/* colors */ 
$color-text: #333333;
$color-text-light: #ffffff;
$color-highlight: #15B2FA;
$color-background: #343434;

/* form colors */
$color-input-background: #F4F6F8;
$color-input-focus: #DEDFDF;
$color-placeholder: #979797;
$color-btn: #A5A9AC;
$color-btn-hover: #828587;
$color-btn-highlight-hover: #159BD8;

/* white space */ 
$size-wrap: 4rem;
